ul.subjects-select {
    margin: 1rem;
}

li.course {
    list-style: none;
    margin: 1rem;
}

li.course h3 {
    margin: 1rem 0;
}

li.course li {
    margin: 1rem;
    transition: ease-out 200ms;
}

li.course li:hover {
    transform: scale(1.01);
}